.zoomer-btns {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
}
.zoomer-btns img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: white;
  user-select: none;
  opacity: .5;
  cursor: pointer;
}
.zoomer-btns img:hover {
  transform: scale(1.1);
  opacity: .9;
}

